<section class="container">
  <div class="page-header">
    <h1>Demo</h1>
  </div>
</section>

<section class="container">
  <h2><code>&#123;&#123;input-date&#125;&#125;</code></h2>
  <p>Description goes here.</p>
</section>

<section class="container">
  <div class="form">
    <fieldset>
      <legend>Try It...</legend>
      <div class="form-group">
        <label class="control-label">Type A Date</label>
        {{input-date classNames="form-control" valueFormat="LLLL"
                     placeholder="Try typing a date and then press enter."}}
        <p class="help-block">
          Try things like, 'today', 'next week', '+1 month', 'week 36', 'jun 15', 'Sep 9 1977' and press enter.
        </p>
        <div class="help-block">
          <pre>\{{input-date classNames="form-control" valueFormat="LLLL"}}</pre>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="form">
    <fieldset>
      <legend>Initializing With A Date</legend>
      <p>
        This example is binding the parsed date from the textbox to a controller property named
        <code>naftaSigned</code>. Notice how the date is initialized in the controller and was
        formatted accordingly in the textbox value.
      </p>
      <div class="form-group">
        <label class="control-label">The Day NAFTA Was Signed</label>
        {{input-date classNames="form-control" date=naftaSigned
                     placeholder="You cleared the date.  Now we don't know when NAFTA was signed."}}
      </div>
      <div class="help-block">
        {{!--@formatter:off--}}
          <pre>// app/templates/example.hbs
\{{input-date classNames="form-control" date=naftaSigned}}

// app/controllers/example.js
export default Ember.Controller.extend({
  naftaSigned: new Date(1987, 9, 3),
});</pre>
          {{!--@formatter:on--}}
      </div>
    </fieldset>
  </div>

  <div class="form">
    <fieldset>
      <legend>
        Localized Formatting
        (<a href="http://momentjs.com/docs/#/displaying/format/" target="_blank">see Moment.js docs</a>)
      </legend>
      <p>
        These example textboxes all bind to the controller's <code>now</code> property. Each textbox
        is leveraging the <code>valueFormat</code> property demonstrating several localized formats.
      </p>
      <div class="form-group">
        <div class="input-group">
          {{input-date classNames="form-control" placeholder="You cleared the date.  Try entering another." date=now
                       valueFormat="LT"}}
          <span class="input-group-addon">Time (<code>LT</code>)</span>
        </div>
        <div class="help-block">
          {{!--@formatter:off--}}
          <pre>// app/templates/example.hbs
\{{input-date className="form-control" date=now valueFormat="LT"}}

// app/controllers/example.js
export default Ember.Controller.extend({
  now: new Date()
});</pre>
          {{!--@formatter:on--}}
        </div>
      </div>
      <hr/>

      <div class="form-group">
        <div class="input-group">
          {{input-date classNames="form-control" placeholder="You cleared the date.  Try entering another." date=now
                       valueFormat="LTS"}}
          <span class="input-group-addon">Time with seconds (<code>LTS</code>)</span>
        </div>
        <div class="help-block">
          {{!--@formatter:off--}}
          <pre>// app/templates/example.hbs
\{{input-date className="form-control" date=now valueFormat="LTS"}}

// app/controllers/example.js
export default Ember.Controller.extend({
  now: new Date()
});</pre>
          {{!--@formatter:on--}}
        </div>
      </div>
      <hr/>

      <div class="form-group">
        <div class="input-group">
          {{input-date classNames="form-control" placeholder="You cleared the date.  Try entering another." date=now
                       valueFormat="L"}}
          <span class="input-group-addon">Month numeral, day of month, year (<code>L</code>)</span>
        </div>
        <div class="help-block">
          {{!--@formatter:off--}}
          <pre>// app/templates/example.hbs
\{{input-date className="form-control" date=now valueFormat="L"}}

// app/controllers/example.js
export default Ember.Controller.extend({
  now: new Date()
});</pre>
          {{!--@formatter:on--}}
        </div>
      </div>
      <hr/>

      <div class="form-group">
        <div class="input-group">
          {{input-date classNames="form-control" placeholder="You cleared the date.  Try entering another." date=now
                       valueFormat="l"}}
          <span class="input-group-addon">Month numeral, day of month, year (<code>l</code>)</span>
        </div>
        <div class="help-block">
          {{!--@formatter:off--}}
          <pre>// app/templates/example.hbs
\{{input-date className="form-control" date=now valueFormat="l"}}

// app/controllers/example.js
export default Ember.Controller.extend({
  now: new Date()
});</pre>
          {{!--@formatter:on--}}
        </div>
      </div>
      <hr/>

      <div class="form-group">
        <div class="input-group">
          {{input-date classNames="form-control" placeholder="You cleared the date.  Try entering another." date=now
                       valueFormat="LL"}}
          <span class="input-group-addon">Month name, day of month, year (<code>LL</code>)</span>
        </div>
        <div class="help-block">
          {{!--@formatter:off--}}
          <pre>// app/templates/example.hbs
\{{input-date className="form-control" date=now valueFormat="LL"}}

// app/controllers/example.js
export default Ember.Controller.extend({
  now: new Date()
});</pre>
          {{!--@formatter:on--}}
        </div>
      </div>
      <hr/>

      <div class="form-group">
        <div class="input-group">
          {{input-date classNames="form-control" placeholder="You cleared the date.  Try entering another." date=now
                       valueFormat="ll"}}
          <span class="input-group-addon">Month name, day of month, year (<code>ll</code>)</span>
        </div>
        <div class="help-block">
          {{!--@formatter:off--}}
          <pre>// app/templates/example.hbs
\{{input-date className="form-control" date=now valueFormat="ll"}}

// app/controllers/example.js
export default Ember.Controller.extend({
  now: new Date()
});</pre>
          {{!--@formatter:on--}}
        </div>
      </div>
      <hr/>

      <div class="form-group">
        <div class="input-group">
          {{input-date classNames="form-control" placeholder="You cleared the date.  Try entering another." date=now
                       valueFormat="LLL"}}
          <span class="input-group-addon">Month name, day of month, year, time (<code>LLL</code>)</span>
        </div>
        <div class="help-block">
          {{!--@formatter:off--}}
          <pre>// app/templates/example.hbs
\{{input-date className="form-control" date=now valueFormat="LLL"}}

// app/controllers/example.js
export default Ember.Controller.extend({
  now: new Date()
});</pre>
          {{!--@formatter:on--}}
        </div>
      </div>
      <hr/>

      <div class="form-group">
        <div class="input-group">
          {{input-date classNames="form-control" placeholder="You cleared the date.  Try entering another." date=now
                       valueFormat="lll"}}
          <span class="input-group-addon">Month name, day of month, year, time (<code>lll</code>)</span>
        </div>
        <div class="help-block">
          {{!--@formatter:off--}}
          <pre>// app/templates/example.hbs
\{{input-date className="form-control" date=now valueFormat="lll"}}

// app/controllers/example.js
export default Ember.Controller.extend({
  now: new Date()
});</pre>
          {{!--@formatter:on--}}
        </div>
      </div>
      <hr/>

      <div class="form-group">
        <div class="input-group">
          {{input-date classNames="form-control" placeholder="You cleared the date.  Try entering another." date=now
                       valueFormat="LLLL"}}
          <span class="input-group-addon">Month name, day of month, day of week, year, time (<code>LLLL</code>)</span>
        </div>
        <div class="help-block">
          <pre></pre>
          {{!--@formatter:off--}}
          <pre>// app/templates/example.hbs
\{{input-date className="form-control" date=now valueFormat="LLLL"}}

// app/controllers/example.js
export default Ember.Controller.extend({
  now: new Date()
});</pre>
          {{!--@formatter:on--}}
        </div>
      </div>
      <hr/>

      <div class="form-group">
        <div class="input-group">
          {{input-date classNames="form-control" placeholder="You cleared the date.  Try entering another." date=now
                       valueFormat="llll"}}
          <span class="input-group-addon">Month name, day of month, day of week, year, time (<code>llll</code>)</span>
        </div>
        <div class="help-block">
          {{!--@formatter:off--}}
          <pre>// app/templates/example.hbs
\{{input-date className="form-control" date=now valueFormat="llll"}}

// app/controllers/example.js
export default Ember.Controller.extend({
  now: new Date()
});</pre>
          {{!--@formatter:on--}}
        </div>
      </div>
      <hr/>
    </fieldset>
  </div>

  <form class="form" {{action (route-action "submitDate") on="submit"}}>
    <fieldset>
      <legend><code>&#123;&#123;input-date&#125;&#125;</code> Submitting In A Form</legend>
      <div class="form-group">
        <label class="control-label">Type A Date...</label>
        {{input-date classNames="form-control" valueFormat="LLLL"
                     placeholder="Choose a date and submit the form..."
                     date=submittedDate}}
        <p class="help-block">
          Press <kbd>ENTER</kbd> to parse the date, press <kbd>CTRL</kbd>+<kbd>ENTER</kbd> to submit the form.
        </p>
        <div class="help-block">
          <pre>\{{input-date classNames="form-control" valueFormat="LLLL" date=submittedDate}}</pre>
        </div>
      </div>
    </fieldset>
  </form>
</section>

<section class="container">
  <h2><code>&#123;&#123;input-iso8601&#125;&#125;</code></h2>
  <p>
    These examples are demonstrating binding the parsed iso8601 string value a controller property
    acting as a query param. <strong>Do not use <code>\{{input-date ...}}</code> for query params
    as Ember does not handle Object assignments for query parameters.</strong> Instead use this
    <code>\{{input-iso8601 ...}}</code> component for query parameters.
  </p>
</section>

<section class="container">
  <div class="form">
    <fieldset>
      <legend>Assigned To Query Param</legend>
      <div class="form-group">
        <label class="control-label">Change The Date And Check The Address Bar</label>
        {{input-iso8601 classNames="form-control"
                        placeholder="Try another date. It appears as `dateAsParam` in the page url." iso8601=dateAsParam
                        valueFormat="LLL Z"}}
        <div class="help-block">
          {{!--@formatter:off--}}
          <pre>// app/templates/example.hbs
\{{input-iso8601
    classNames="form-control"
    placeholder="Try another date. It appears as `dateAsParam` in the page url."
    iso8601=dateAsParam
    valueFormat="LLL Z"}}

// app/controllers/example.js
export default Ember.Controller.extend({
  dateAsParam: new Date().toISOString(),
  queryParams: ['dateAsParam']
});</pre>
          {{!--@formatter:on--}}
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Choose Any Date And See It In The URL</label>
        {{input-iso8601 classNames="form-control" placeholder="Choose a date, any date." iso8601=wasEmptyUntilNow
                        valueFormat="LLL Z"}}
        <div class="help-block">
          {{!--@formatter:off--}}
          <pre>// app/templates/example.hbs
\{{input-iso8601
    classNames="form-control"
    placeholder="Try another date. It appears as `dateAsParam` in the page url."
    iso8601=dateAsParam
    valueFormat="LLL Z"}}

// app/controllers/example.js
export default Ember.Controller.extend({
  queryParams: ['wasEmptyUntilNow'],
  wasEmptyUntilNow: ''
});</pre>
          {{!--@formatter:on--}}
        </div>
      </div>
    </fieldset>
  </div>
  <form class="form" {{action (route-action "submitIso8601") on="submit"}}>
    <fieldset>
      <legend><code>&#123;&#123;input-iso8601&#125;&#125;</code> Submitting In A Form</legend>
      <div class="form-group">
        <label class="control-label">Type A Date...</label>
        {{input-iso8601 classNames="form-control" valueFormat="LLLL"
                        placeholder="Choose a date and submit the form..."
                        iso8601=submittedIso8601}}
        <p class="help-block">
          Press <kbd>ENTER</kbd> to parse the date, press <kbd>CTRL</kbd>+<kbd>ENTER</kbd> to submit the form.
        </p>
        <div class="help-block">
          <pre>\{{input-iso8601 classNames="form-control" valueFormat="LLLL" iso8601=submittedIso8601}}</pre>
        </div>
      </div>
    </fieldset>
  </form>
</section>
